body{
    background:grey;
    border: 3px solid white;
}
h2{
  text-align: center;
  
  font-family: cursive;
  color: greenyellow;
  

}
form{
   padding: 10px;
    margin: 5px;
}
form .feed{
    padding: 10px 10px;
   
}
form .type{
    padding: 10px 10px;
}
form .terms{
    padding:10px 10px;
}
form .btn{
    padding:10px 10px;
}
form .btn button{
    width: 100px;
    background-color: lightseagreen;
}
form .feed input{
    width:250px;
    
}

form .email input{
    width: 250px;
}

form .text textarea{
    width: 450px;
}
